body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background: #3e5c6e;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 700px;
    background: white;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 70px 0;
    border-bottom: 1px sloid silver;
    font-size: 40px;
}

.center form {
    padding: 0 35px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 3px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .4s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3e5c6e;
    transition: .4s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #3e5c6e;
}
.txt_field input:focus ~ label::before,
.txt_field input:valid ~ label::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #3e5c6e;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}

button[type="submit"], button[type="reset"] {
    width: 100%;
    height: 60px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  button[type="submit"] {
    background: linear-gradient(to right, #33658a, #427598, #5284a7, #6195b5, #71a5c4, #70a2bf, #709fbb, #6f9cb6, #5e869d, #4e7186, #3e5c6e, #2f4858);
    color: #fffcfc;
  }
  
  button[type="submit"]:hover {
    background: linear-gradient(to right, #33658a, #427598, #5284a7, #6195b5, #71a5c4, #70a2bf, #709fbb, #6f9cb6, #5e869d, #4e7186, #3e5c6e, #2f4858);
    transition: .4s;
  }
  
  button[type="reset"] {
    background: linear-gradient(to right, #33658a, #427598, #5284a7, #6195b5, #71a5c4, #70a2bf, #709fbb, #6f9cb6, #5e869d, #4e7186, #3e5c6e, #2f4858);
    color: #f5eeee;
  }
  
  button[type="reset"]:hover {
    background: linear-gradient(to right, #33658a, #427598, #5284a7, #6195b5, #71a5c4, #70a2bf, #709fbb, #6f9cb6, #5e869d, #4e7186, #3e5c6e, #2f4858);
    transition: .4s;
  }

.btn:focus, .btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
